body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}
button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
}
button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

.incompleteArea {
  background-color: #c6ffe2;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.completeArea {
  background-color: #ffffe0;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.list {
}
.list__item {
  display: flex;
  align-items: center;
}
.list__item + .list__item {
  margin-top: 8px;
}
.list__item p {
  margin: 0;
  margin-right: 16px;
}
.list__item button + button {
  margin-left: 8px;
}
